figure.gmail {
	display: inline-block;
	min-width: 150px;
	font-style: italic;
	margin: 0;
}
figure.yahoo {
	display: inline-block;
	min-width: 150px;
	font-style: italic;
	margin: 0;
}
span {
	display: inline-block;
	vertical-align: top;
}
